# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
build/
out/

# Electron
*.log
*.sqlite

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local
